@use "./variables" as *;

.body {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10px;
  justify-content: center;

  // place holder styling
  .pending{
    position: relative;

    &::after{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: $border-radius;
      content: "";
      background-color: $second-dark;
      background-image: $gradient-dark;
    }
  }
  // 

  & > div {
    max-width: 50%;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    & > div {
      width: 100%;
      min-width: 280px;
      margin: 5px;
      padding: 10px;

      background-color: $second-dark;
      background-image: $gradient-dark;
      border-radius: $border-radius;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    ///////////////////////////////////////////////////

    .current {
      flex: 1;

      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      & > :first-child {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .weather-icon {
          width: 50%;
          height: 4.5rem;
        }
      }

      .current-info {
        p {
          padding: 3px;

          &:first-child {
            font-weight: 600;
          }
        }
      }
    }

    ///////////////////////////////////////////////////

    .day-hourly {
      flex: 1;

      display: flex;
      flex-flow: row nowrap;
      overflow-x: scroll;
      scrollbar-width: none;

      color: $main-light;

      .day-hourly-element {
        min-width: 60px;
        padding: 5px;
        margin: 0 5px;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;

        background-color: $main-dark;
        border-radius: $border-radius;

        & > :last-child {
          display: flex;
          flex-flow: row nowrap;
        }
      }
    }

    ///////////////////////////////////////////////////

    .extra-current {
      flex: 1;
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      justify-content: center;

      div {
        margin: 5px;
        padding: 3px;
        background-color: $main-dark;
        border-radius: $border-radius;
        color: $main-light;

        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        div {
          display: flex;
          flex-flow: column;
          align-items: center;
          text-wrap: nowrap;
        }

        .weather-icon {
          width: 30%;
          height: 2rem;
        }
      }
    }

    ///////////////////////////////////////////////////

    .week-weather {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      color: $main-light;

      .week-day {
        height: 35px;
        margin: 4px 0;
        padding: 0 10px;
        text-wrap: nowrap;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        background-color: $main-dark;
        border-radius: $border-radius;

        *{
          min-width: 35px;
        }
      }
    }

    ///////////////////////////////////////////////////

    .map-div {
      padding: 0;
      overflow: hidden;

      .leaflet-container {
        width: inherit;
        height: 220px;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .body {
    & > div {
      max-width: 95%;
    }
  }
}
