@use "./variables" as *;

.header {
  width: 100vw;
  height: 60px;
  padding: 10px 20px;

  background-color: $main-dark;
  background-image: linear-gradient(
    to right,
    rgba($main-light, 0.3),
    transparent
  );

  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.4);
  z-index: 999;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  .logo {
    color: $text-icons-color;
    font-weight: bolder;
    font-size: 4vw;
    margin-right: 10px;
  }

  div {
    flex: 1;
    position: relative;

    .search-input {
      width: 100%;
      height: 45px;
      padding: 0 10px;

      background-color: $main-dark;
      background-image: linear-gradient(
        to right,
        rgba($main-light, 0.3),
        rgba($main-light, 0.1)
      );

      border: none;
      border-radius: $border-radius;

      &::placeholder {
        color: rgba($text-icons-color, 0.7);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1rem;
      }

      &:focus {
        outline: 1px solid $second-light;
      }
    }

    .search-suggestions {
      width: 100%;
      min-width: 240px;
      height: 0;
      position: absolute;
      top: 52px;
      right: 0;
      transition: height 300ms;

      background-color: $main-dark;
      background-image: $gradient-dark;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

      list-style: none;
      overflow: hidden;
      border-radius: $border-radius;

      z-index: 999;

      .suggestion-li {
        width: inherit;
        height: 30px;
        padding: 5px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        border-top: 1px solid rgba($second-light, 0.5);
        cursor: pointer;
        overflow: hidden;

        &:first-child {
          border: none;
        }
        &:hover,
        &:focus {
          background-color: rgba($text-icons-color, 0.1);
          outline: none;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    .logo {
        font-size: 1.3rem;
    }
  }
}
