@use "./variables" as *;
@use "./header";
@use "./body";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: $second-dark transparent;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: $main-dark;
  background-image: $gradient-dark;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $text-icons-color;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
}

.leaflet-container {
  z-index: 0;
}