.header {
  width: 100vw;
  height: 80px;
  padding: 10px 20px;
  background-color: #242652;
  background-image: linear-gradient(to right, rgba(49, 175, 242, 0.3), transparent);
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.4);
  z-index: 99;
}
.header * {
  transition: 300ms;
}
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
}
.header .logo p {
  color: #cae6f4;
  font-weight: bolder;
  font-size: 5vw;
  margin-right: 10px;
}
.header .logo p:last-child {
  font-weight: 300;
}
.header div {
  flex: 1;
  position: relative;
}
.header div .search-input {
  width: 100%;
  max-width: 500px;
  height: 50px;
  padding: 0 10px;
  background-color: #242652;
  background-image: linear-gradient(to right, rgba(49, 175, 242, 0.3), rgba(49, 175, 242, 0.1));
  border: none;
  border-radius: 8px;
}
.header div .search-input::placeholder {
  color: rgba(202, 230, 244, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}
.header div .search-input:focus {
  outline: 1px solid #86c7ea;
}
.header div .search-suggestions {
  width: 100%;
  max-width: 500px;
  min-width: 240px;
  height: 0;
  position: absolute;
  top: 52px;
  right: 0;
  transition: height 300ms;
  background-color: #242652;
  background-image: linear-gradient(to bottom right, rgba(49, 175, 242, 0.3) 25%, transparent);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  list-style: none;
  overflow: hidden;
  border-radius: 8px;
}
.header div .search-suggestions .suggestion-li {
  width: inherit;
  height: 30px;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-top: 1px solid rgba(134, 199, 234, 0.5);
  cursor: pointer;
}
.header div .search-suggestions .suggestion-li:first-child {
  border: none;
}
.header div .search-suggestions .suggestion-li:hover, .header div .search-suggestions .suggestion-li:focus {
  background-color: rgba(202, 230, 244, 0.1);
  outline: none;
}

.body {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10px;
  justify-content: center;
}
.body .pending {
  position: relative;
}
.body .pending::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  content: "";
  background-color: #283c86;
  background-image: linear-gradient(to bottom right, rgba(49, 175, 242, 0.3) 25%, transparent);
}
.body > div {
  max-width: 50%;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.body > div > div {
  width: 100%;
  min-width: 280px;
  margin: 5px;
  padding: 10px;
  background-color: #283c86;
  background-image: linear-gradient(to bottom right, rgba(49, 175, 242, 0.3) 25%, transparent);
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.body > div .current {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.body > div .current > :first-child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.body > div .current > :first-child .weather-icon {
  width: 50%;
  height: 4.5rem;
}
.body > div .current .current-info p {
  padding: 3px;
}
.body > div .current .current-info p:first-child {
  font-weight: 600;
}
.body > div .day-hourly {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  color: #31aff2;
}
.body > div .day-hourly .day-hourly-element {
  min-width: 60px;
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #242652;
  border-radius: 8px;
}
.body > div .day-hourly .day-hourly-element > :last-child {
  display: flex;
  flex-flow: row nowrap;
}
.body > div .extra-current {
  flex: 1;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  justify-content: center;
}
.body > div .extra-current div {
  margin: 5px;
  padding: 3px;
  background-color: #242652;
  border-radius: 8px;
  color: #31aff2;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.body > div .extra-current div div {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-wrap: nowrap;
}
.body > div .extra-current div .weather-icon {
  width: 30%;
  height: 2rem;
}
.body > div .week-weather {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  color: #31aff2;
}
.body > div .week-weather .week-day {
  height: 35px;
  margin: 4px 0;
  padding: 0 10px;
  text-wrap: nowrap;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #242652;
  border-radius: 8px;
}
.body > div .week-weather .week-day * {
  min-width: 35px;
}
.body > div .map-div {
  padding: 0;
  overflow: hidden;
}
.body > div .map-div .leaflet-container {
  width: inherit;
  height: 220px;
}

@media screen and (max-width: 760px) {
  .body > div {
    max-width: 95%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242652;
  background-image: linear-gradient(to bottom right, rgba(49, 175, 242, 0.3) 25%, transparent);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #cae6f4;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.leaflet-container {
  z-index: 0;
}

/*# sourceMappingURL=index.css.map */
